* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #fff8f3;
  margin-left: 20%;
}

body {
  background-image: url("img/bg2.jpg");
  background-position: center top;
  background-size: cover;
}
